# Backend
backend/target/
backend/.mvn/
*.class

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Env
.env
.env.prod
!.env.example

# Claude
CLAUDE.md

# Geral
.DS_Store
*.log
.idea/
.vscode/